* {
    margin:0px;
    padding:0px;
    text-align: center !important;
    background-color:#417AD6;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

#contenedor{
  display: inline-block;
  background-color:#ffffff;
  width: 200px;
  height: 400px;
  text-align: center !important;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}

input{
  width: 100%;
  height: 30px;
  font-size: 20px;
  background-color: #999;
  border:none;
}

#calculo{
  background-color: #4fe951;
}

label{
  width: 100%;
  height: 30px;
  font-size: 20px;
  background-color: #999;
  border:none;
}
